.container{
    max-width: 1200px;
    margin: 0 auto;
}
.main-list{
    display: flex;
    flex-wrap: wrap;
}
.main-box{
    margin: 20px;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid green;
    border-radius: 20px;
}
.main-box-inside{
    display: flex;
    justify-content: space-between;
}
.btn-del{
    background: transparent;
    color: red;
    border-radius: 10px;
    border: 1px solid red;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
}
.btn-del:hover{
    background: red;
    color: white;
}
.btn{
    background: transparent;
    color: green;
    border-radius: 10px;
    border: 1px solid green;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
}
.btn:hover{
    background: green;
    color: white;
}
.form-input{
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid green;
    border-radius: 10px;
    outline: none;
}